.modal {
	position: fixed;
	z-index: 500;
	background-color: white;
	width: 70%;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px black;
	padding: 16px;
	left: 15%;
	top: 30%;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
}
.modal h2 {
	border-bottom: 1px solid #ccc;
	padding: 1rem;
	margin: 0;
}

.content {
	padding: 1rem;
}
.actions {
	border-top: 1px solid #ccc;
	background: #eee;
	padding: 0.5rem 1rem;
}
