@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

.skinTypeContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#skinQuestion {
	text-align: center;
	padding-top: 20px;
	font-family: 'Satisfy', cursive;
	color: rgb(0, 53, 97);
}
.skinType {
	flex: 1;
	font-family: 'Satisfy', cursive;
	height: 300px;
}

.grid {
	display: grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 200px 200px 200px 200px 200px 200px;
	grid-gap: 50px;
	padding-top: 50px;
}

.boxText1 {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	height: 100px;
}
.boxText2 {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
	height: 100px;
}
.boxText3 {
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
	height: 100px;
}
.boxText4 {
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
	height: 100px;
}
.boxText5 {
	grid-column: 1 / span 1;
	grid-row: 6 / span 1;
	height: 100px;
}
.boxText6 {
	grid-column: 2 / span 1;
	grid-row: 6 / span 1;
	height: 100px;
}

#skinBox1 {
	display: flex;
	flex-direction: column;
}
#skinBox1 h6 {
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: rgb(0, 53, 97);
	font-size: 15px;
}
#skinBox2 {
	display: flex;
	flex-direction: column;
}
#skinBox2 h6 {
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: rgb(0, 53, 97);
	font-size: 15px;
}
#skinBox3 {
	display: flex;
	flex-direction: column;
}
#skinBox3 h6 {
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: rgb(0, 53, 97);
	font-size: 15px;
}
#skinBox4 {
	display: flex;
	flex-direction: column;
}
#skinBox4 h6 {
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: rgb(0, 53, 97);
	font-size: 15px;
}
#skinBox5 {
	display: flex;
	flex-direction: column;
}
#skinBox5 h6 {
	font-size: 15px;
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: rgb(0, 53, 97);
}
#skinBox6 {
	display: flex;
	flex-direction: column;
}
#skinBox6 h6 {
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: rgb(0, 53, 97);
	font-size: 15px;
}

#skinType1 {
	background-color: #f1d1b1;
	border: none;
	border-radius: 12px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	height: 400px;
}
#skinType2 {
	background-color: #e4b590;
	border: none;
	border-radius: 12px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	height: 400px;
}
#skinType3 {
	background-color: #cf9f7d;
	border: none;
	border-radius: 12px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
	height: 400px;
}
#skinType4 {
	background-color: #b67851;
	border: none;
	border-radius: 12px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	grid-column: 2 / span 1;
	grid-row: 3 / span 1;
	height: 400px;
}
#skinType5 {
	background-color: #a15e2d;
	border: none;
	border-radius: 12px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	grid-column: 1 / span 1;
	grid-row: 5 / span 1;
	height: 400px;
}
#skinType6 {
	background-color: #513938;
	border: none;
	border-radius: 12px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	grid-column: 2 / span 1;
	grid-row: 5 / span 1;
	height: 400px;
}
#skinType1:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#skinType2:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#skinType3:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#skinType4:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#skinType5:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#skinType6:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.uvInfo {
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: rgb(0, 53, 97);
}
